@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Ubuntu&family=Aleo:wght@500&display=swap');

html {
    height: 100%;
}

body {
    background: rgb(16, 59, 29);
    background: linear-gradient(180deg, #154d26 0%, #0b1e08 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Ubuntu", sans-serif;
    font-size: 1.5em;
    text-align: center;

    margin: 2rem 1rem 0 1rem;
}

h2,
h3 {
    font-family: "Aleo", sans-serif;
}

.triangle {
    z-index: -1;
    width: 100%;
    height: 20rem;

    background:
        url("/img/tree.svg") 0 100% repeat-x,
        url("/img/tree.svg") 10rem 100% repeat-x;
    background-size: contain;

    position: fixed;
    bottom: 0px;
    left: 0px;
}

img {
    height: 12rem;
    border-radius: 50%;
}

h1,
h2,
h3,
h6,
p {
    color: white;
    margin: 0.2rem 0px;
    padding: 0.25em;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

p {
    font-size: 1.25rem;
}


.menu.backing p {
    margin-left: .5rem;
    margin-right: .5rem;
}

.menu.backing p a {
    width: 10rem;
}

@media only screen and (max-width: 600px) {
    .menu.backing p a {
        width: auto;
    }
}

.menu.backing {
    width: auto;
    display: flex;
    margin: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.intro,
.main,
.backing p a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2ex 1ex;
}

.main {
    margin: 5rem 0 0 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.backing {
    width: auto;
    margin: 0.5rem;
}

.backing {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1rem;
}

.backing p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #302326;
    border-radius: 1rem;

    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.backing p a {
    color: white;
    width: 20rem;
    margin: auto;
    padding: 0.4rem;
    font-size: 1.1rem;
    text-decoration: none;
}

.teethToSkin {
    top: 20%;
    right: 10rem;
    width: 20rem;
    height: auto;
}

.footer {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 10rem;
    margin-bottom: 0px;
    padding: 1rem;
}

.footer p {
    text-align: left;
    font-size: 0.75rem;
    width: 50%;
    word-break: keep-all;
    white-space: normal;
}

@media only screen and (max-width: 600px) {
    .footer p {
        width: fit-content;
    }
}

.wish {
    border-radius: 0%;
    height: 30rem;
}

@media only screen and (max-width: 600px) {
    .wish {
        height: 20rem;
    }
}